numpy~=1.23
opencv-contrib-python
pyautogui~=0.9.53
keyboard~=0.13.5
pillow~=9.0.0
pyscreenshot~=3.0
scipy~=1.13.1
pytesseract
imutils~=0.5.4
pandas~=1.4.0
plotly~=5.5.0
requests~=2.28.1
pynput~=1.7.6
PyYAML~=6.0
matplotlib~=3.9.1
Flask~=3.0.3
PyWinCtl~=0.4